<ul class="items">
  <% @basket.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>

<%= button_to(
  'Empty basket',
  @basket,
  method: :delete,
  confirm: 'Are you sure?',
  class: 'btn btn-danger'
) %>
