rvm:
  - 2.0.0
before_install:
  - 'echo ''gem: --no-document'' > ~/.gemrc'
  - echo '--colour' > ~/.rspec
  - gem install fog
  - ./script/travis/bundle_install.sh
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - cp .sample.env .env
  - psql -c 'create database "radfords_test";' -U postgres
  - bundle exec rake db:migrate db:test:prepare
after_script:
  - ruby script/travis/bundle_cache.rb
bundler_args: --without development staging production --path=~/.bundle
script:
  - bundle exec rake spec
notifications:
  campfire:
    rooms:
      secure: PxGY3d37QEtidkEhyLuY4uQ+v9Dl/BshrIbmozFxMW+QYpvWvSQ7Ob3r8YHRjSfXxNHpQq0fZiQ/8+VfJ1Aukn+jfZbwjET8rlmABA6aGyUV0gFHdkt6gDK3Fm1EM+8p3a4fLnCvx3d0p2uAOt/tOz51Wgslx4mUbMYU0QSwDmk=
    on_success:
      - always
    on_failure:
      - always
    template:
      - '(%{branch} - %{author}): %{message} - %{build_url}'
env:
  global:
    - BUNDLE_ARCHIVE="radfords"
    - AWS_S3_BUCKET="radfords-travis-bundles"
    - RAILS_ENV=test
    - secure: U64dbupIbo7tFSP8T0pYkrCmRZOg39ENOZ5IrqrNi0kRMLP3UmKPjwwBiNEasnKVk1zwsf9YzlFpR15OZROZc0ROd0Bmqgsb2hF+jehUD9d+cNqaqdb2eUxfqUwZ+nQR+n8AHSQuG+k8vMn4yS6kkBwNBaYd0IffJwnbQCG3UKg=
