---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=0&currency=gbp&customer=cus_8YbYN0NtwYPpHA&description=Payment%20for%20%2371
    headers:
      Authorization:
      - Bearer development_stripe_sk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
      Www-Authenticate:
      - Bearer realm="Stripe"
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18HUXQ2eZvKYlo2C2GnrB4WO",
          "object": "charge",
          "amount": 400,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18EQaH2eZvKYlo2CoxVeiWr7",
          "captured": true,
          "created": 1464769036,
          "currency": "usd",
          "customer": null,
          "description": "Charge for chansuquan@yahoo.com.vn",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [
        
            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18HUXQ2eZvKYlo2C2GnrB4WO/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18HUXL2eZvKYlo2COovEPcMp",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2019,
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": "chansuquan@yahoo.com.vn",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 01 Jun 2016 08:32:26 GMT
recorded_with: VCR 2.9.3
