---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Customer%20for%20%2369&email=alphonso.quigley%40example.com
    headers:
      Authorization:
      - Bearer development_stripe_sk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
      Www-Authenticate:
      - Bearer realm="Stripe"
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8YbYN0NtwYPpHA",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1464768312,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "oskar.qvarnstrom123@cossystems.com",
          "livemode": false,
          "metadata": {
            "Firstname": "Oskar",
            "Lastname": "Qvarnström",
            "CustomerNumber": "C0000285"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8YbYN0NtwYPpHA/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8YbYN0NtwYPpHA/subscriptions"
          }
        }
  recorded_at: Wed, 01 Jun 2016 08:18:55 GMT
recorded_with: VCR 2.9.3
