---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: description=Customer%20for%20%2369&email=alphonso.quigley%40example.com
    headers:
      Authorization:
      - Bearer development_stripe_sk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
      Www-Authenticate:
      - Bearer realm="Stripe"
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1LuYZrEP7Asam48w2pCU0r23",
          "object": "token",
          "card": {
            "id": "card_1LuYZrEP7Asam48woceUF79R",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2023,
            "fingerprint": "0xaLmZI0YSmjyH3E",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "82.69.120.215",
          "created": 1666171723,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 01 Jun 2016 08:18:55 GMT
recorded_with: VCR 2.9.3
