.container {
    height: 100%;
}

#header {
    background-image: url(/images/purple_logo.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #5A006D;
    height: 154px;
    -moz-border-radius-bottomright: 10px;
    border-radius: 0 0 10px 0;
    -webkit-border-bottom-right-radius: 10px;
    margin-bottom: 18px;
    padding-left: 10px;
    overflow: hidden;
}

span#image-logo {
    background-image: url(/images/jar.png);
    background-repeat: no-repeat;
    height: 154px !important;
    width: 145px !important;
    display: inline-block;
}

#roll {
    background-color: white;
}

h1 {
  margin: 5px;
  color: #5A006D;
}

.topic {
    padding: 10px 20px 0px 20px;
    margin-bottom: 20px;
}


.topic h3 {
    border-bottom: solid 1px #a676b1; #5A006D;
}

.product-list {
    margin-right: 10px;
}

.product-list h4 {
    margin-bottom: 5px;
    border-bottom: solid 1px #AAAAAA
}

div#navbar-holder {
    background-color: #5A006D;
    padding-left: 10px;
    padding-bottom: 3px;
    margin-bottom: 30px;
    background-image: url(/images/jar_bottom.png);
    background-repeat: no-repeat;
}

ul#navbar {
    list-style: none;
    margin-bottom: 0;
    margin-left: 100px;
}

ul.product-list  {
    list-style: none;
}

ul#navbar li {
    display: inline;
    margin-left: 20px;
}

ul#navbar a {
    text-decoration: none;
    font-size: larger;
    color: white;
}

ul#navbar li.active a {
    text-decoration: underline;
}

img.decorate-post {
    float: left;
    margin-right: 10px;
}

img.decorate-post-right {
    float: right;
    margin-left: 10px;
}

img.bordered {
    border: solid 1px #5A006D;
}

div#footer {
    border-top:  solid 2px #5A006D;
    text-align: right;
    margin-top: 20px;
    padding: 5px;
}

span.contact {
    float: left;
}

a {
    color: black;
}

ul.outlet-list {
    list-style: none;
    float: left;
}

ul.outlet-list li {
    float: left;
    margin-right: 80px;
}

ul.outlet-list li.last {
    margin-right: 0;
    clear: right;
}

.center-post {
    margin-top: 5em;
}

p.telephone {
    background-image: url(/images/phone_1.png);
    background-repeat: no-repeat;
    padding-left: 16px;
}

.outlet-list p {
    margin: 4px;
}

.outlet-list h4 {
    margin: 24px 0 12px 0;
}

ul.market-list li {
    margin-bottom: 4px;
}

ul.events, ul#contact-methods {
    list-style: none;
    padding-left: 0;
}



ul#contact-methods li {
    background-repeat: no-repeat;
    padding-left: 24px;
    margin-bottom: 12px;

}

li.email {
    background-image: url(/images/email_16.png);
}

li.facebook {
    background-image: url(/images/facebook_16.png);
}

li.twitter {
    background-image: url(/images/twitter_16.png);
}

#upcoming {
    color: #554D40;
    float: left;
    font: 13px/18px "helvetica neue", Helvetica, Arial, Georgia, serif;
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

#upcoming li {
    float: left;
    margin-bottom: 20px;
    width: 310px;
}

#upcoming div {
    float: right;
    margin-top: 5px;
    position: relative;
}

#upcoming img {
    float: right;
    height: 80px;
    width: 80px;
}

#upcoming div span {
    background-image: url(/images/overlay.png);
    display: block;
    height: 80px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 80px;
    z-index: 100;
}

#upcoming .title {
    color: #484848;
    display: block;
    float: left;
    font: 19px/28px;
    text-shadow: white 0 1px 0;
    text-transform: uppercase;
    width: 212px;
}

#upcoming .date {
    float: left;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#upcoming h5 {
    background: url(/images/location.png) no-repeat;
    clear: left;
    color: #5A006D;
    font-size: 15px;
    margin: 0;
    padding-left: 14px;
    text-shadow: white 0 1px 0;
    width: 212px;
}

.wide-topic {
    float: left;
    width: 720px;
}

.wide-topic h3 {
    border-bottom: solid 1px #a676b1;
}

.suppliers:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.suppliers {
    display: block;
}

.suppliers .supplier {
    float: left;
    margin-right: 10px;
    width: 230px;
}

.suppliers .last {
    margin-right: 0;
}