.container {
/*    background: url(http://blueprintcss.org/blueprint/src/grid.png);*/
    color: #554D40;
    font-size: 13px;
}

/* HEADER */

.header {
    margin-bottom: 18px;
}

.hgroup {
    background: #5A006D url(/images/purple_logo.png) no-repeat right bottom;
    margin-bottom: 18px;
    vertical-align: bottom;
}

h1 {
    background: url(/images/jar.png) no-repeat 10px bottom;
    height: 162px;
    width: 145px;
    text-indent: -9999em;
}

.nav {
    background: #5A006D url(/images/jar_bottom.png) no-repeat;
    text-align: right;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.nav ul li {
    display: inline;
}

.nav ul li a:link, .nav ul li a:visited {
    background: #5A006D;
    color: #FFF;
    font-family: Gotham;
    font-size: 12px;
    line-height: 36px;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav ul li a:hover, .nav ul li a:active {
    text-decoration: underline;
}

h2 {
    border-bottom: solid 1px #A676B1;
    font-family: Georgia, Times, serif;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 17px;
}

/* BODY */

.section:after, .section:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.section {
    display: block;
}

.article {
    float: left;
    margin-right: 10px;
    width: 470px;
}

.last {
    margin-right: 0;
}

.made-in-cheshire img {
    float: left;
    margin-bottom: 8px;
    margin-right: 10px;
}

/* PRODUCTS */

.product img {
    border: 1px solid #BBB;
    float: right;
    margin-bottom: 18px;
    margin-left: 10px;
    padding: 8px 9px;
}

.product ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* SUPPLIERS */

.suppliers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.suppliers li {
    width: 310px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.suppliers .last {
    margin-right: 0;
}

.suppliers h3 {
    color: #5A006D;
    font-family: Georgia, Times, serif;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 0;
}

.suppliers .telephone {
    background: url(/images/phone_1.png) no-repeat;
    padding-left: 18px;
    background-position: 0 3px;
}

.suppliers img {
    border: 1px solid #bbb;
    float: left;
    margin-bottom: 18px;
    padding: 9px;
}

/* CONTACT */

.denise {
    text-align: right;
}

.denise img {
    border: 1px solid #BBB;
    margin-bottom: 18px;
    padding: 9px;
}

.social ul {
    list-style-type: none;
    margin: 0;
    margin-top: 18px;
    padding: 0;
    width: 212px;
}

.social li {
    background: no-repeat;
    margin: 9px 0;
    padding-left: 24px;
}

.social .email {
    background-image: url(/images/email_16.png);
}

.social .facebook {
    background-image: url(/images/facebook_16.png);
}

.social .twitter {
    background-image: url(/images/twitter_16.png);
}

/* FOOTER */

.footer {
    border-top: 2px solid #5A006D;
    line-height: 36px;
    margin-top: 16px;
}

.footer ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer li {
    display: inline;
    margin-right: 15px;
}

.footer a:link, .footer a:visited {
    color: #554D40;
    text-decoration: none;
    text-transform: capitalize;
}

.footer a:hover, .footer a:active {
    color: #CA00F5;
}

.footer p {
    float: right;
}
