<% if object.errors.any? %>
  <div class="alert alert-block alert-error">
    <h4 class="alert-heading">
      <%= pluralize(object.errors.count, 'error') %> prohibited this from being
      saved:
    </h4>

    <ul>
      <%= render(
        partial: '/shared/full_message',
        collection: object.errors.full_messages
      ) %>
    </ul>
  </div>
<% end %>
