<% if object.errors.any? %>
  <div class="alert alert-block alert-error">
    <h4 class="alert-heading">
      <%= pluralize(object.errors.count, 'error') %> prohibited this from being
      saved:
    </h4>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
