<% content_for :body_class, controller.controller_name %>

<div class="page-header">
  <h2>Events</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>

      <th>Name</th>

      <th>Takes place on</th>

      <th>Location</th>

      <th>Created at</th>

      <th>Actions</th>
    </tr>

    <tbody>
      <%= render @events %>
    </tbody>
  </thead>
</table>

<%= link_to 'New', new_event_path, class: 'btn btn-primary' %>