<h1>Listing events</h1>
<% if !@events.blank? %>
<%= will_paginate %>
<table>
  <tr>
    <th>Name</th>
    <th>Takes place on</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
	<%= render @events %>
<% end %>
</table>
<%= will_paginate %>
<% end %>

<%= link_to 'New Event', new_event_path %>