---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1+Example+Street&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Example St\",\n               \"short_name\"
        : \"Example St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Gap Civil\",\n               \"short_name\"
        : \"Gap Civil\",\n               \"types\" : [ \"administrative_area_level_3\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Alleghany\",\n               \"short_name\" : \"Alleghany\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"North Carolina\",\n               \"short_name\"
        : \"NC\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"28675\",\n               \"short_name\" : \"28675\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Example St, Gap Civil, NC 28675, USA\",\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : 36.50089510,\n               \"lng\" : -81.07576370\n
        \           },\n            \"location_type\" : \"GEOMETRIC_CENTER\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 36.50224408029150,\n
        \                 \"lng\" : -81.07441471970849\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 36.49954611970850,\n                  \"lng\"
        : -81.07711268029151\n               }\n            }\n         },\n         \"partial_match\"
        : true,\n         \"types\" : [ \"route\" ]\n      },\n      {\n         \"address_components\"
        : [\n            {\n               \"long_name\" : \"1\",\n               \"short_name\"
        : \"1\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"W Sample Rd\",\n               \"short_name\"
        : \"W Sample Rd\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n           [...]
