<div class="span-8 topic">
  <%= image_tag("contact.jpg", :alt => "Denise", :class => "decorate-post-right bordered") %>
</div>
<div class="span-8 topic last">
  <p class="center-post">
    <ul id="contact-methods">
      <li class="email">Email <a href="mailto:denise@radfordsofsomerford.co.uk">denise@radfordsofsomerford.co.uk</a></li>
      <li class="facebook">Visit our <a href="http://www.facebook.com/pages/Radfords-of-Somerford/170415869654554?ref=ts&v=wall">Facebook </a>page</li>
      <li class="twitter">Follow us on <a href="http://twitter.com/r_of_somerford">Twitter</a> for news of upcoming events and new products</li>
    </ul>
  </p>
</div>