<% content_for(:title, "Contact") %>

<div class="section">
  <div class="article denise">
    <%= image_tag('contact.jpg', alt: 'Denise') %>
  </div>

  <div class="article social last">
    <ul>
      <li class="email">Email
      <%= mail_to('radfords@hotmail.co.uk', 'Denise') %></li>

      <li class="facebook">
        Like our
        <a href="http://www.facebook.com/pages/Radfords-of-Somerford/170415869654554?ref=ts&amp;v=wall">Facebook</a>
        page
      </li>

      <li class="twitter">
        Follow us on <a href="http://twitter.com/r_of_somerford">Twitter</a> for
        news of upcoming events and new products.
      </li>
    </ul>
  </div>
</div>
