<div class="section">
  <div class="article">
    <h2>
      The Company
    </h2>

    <p>
      Radfords of Somerford produces homemade foods often drawing on
      Mediterranean influences we have a large range of products e.g. jams,
      pickles, preserves and dips.
    </p>
  </div>

  <div class="article last">
    <h2>
      The Name
    </h2>

    <p>
      Radford is a family name which has passed on recipes through the
      generations.
    </p>
  </div>
</div>

<div class="section">
  <div class="article made-in-cheshire">
    <h2>
      Made in Cheshire
    </h2>

    <%= image_tag('made_in_cheshire.png', alt: 'Made in Cheshire') %>

    <p>
      A member of 'Made in Cheshire', all products are homemade and the majority
      of ingredients are sourced locally wherever possible.
    </p>
  </div>

  <div class="article last">
    <h2>
      Events/News
    </h2>

    <p>
      We will be running a stall at the following events:
    </p>

    <ul id="upcoming">
      <% if @events %>
        <% @events.each do |event| %>
          <li>
            <div class="img_speaking">
              <img src="/images/Google_Chrome.png" alt="Front End Conference" />

              <span class="mask">
                .
              </span>
            </div>

            <span class="title">
              <%= event.name %>
            </span>

            <span class="date">
              <%= event.takes_place_on %>
            </span>

            <h3>
              <%= event.location %>
            </h3>
          </li>
        <% end %>
      <% else %>
        <li>
          No upcoming events
        </li>
      <% end %>
    </ul>
  </div>
</div>
