<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Home | Radfords of Somerford</title>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />	
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
  <link rel="stylesheet" type="text/css" href="css/radfords.css" />
</head>

<body>
  <div class="container ">
    <div id="content-main" class="span-18 prepend-3 last">
      <div id="header" class=" span-18 last">
        <span id="image-logo" ></span>
        <h1 id="title">Radfords of Somerford</h1>
      </div>
      <div id="navbar-holder" class="span-18 last">
        <ul id="navbar">
            <li class="active"><a href="index.html">Home</a></li>
            <li class=""><a href="products.html"> Products</a></li>
            <li class=""><a href="outlets.html">Where to buy</a></li>
            <li class=""><a href="contact.html">Contact us</a></li>
        </ul>
      </div>
      <div id="roll" class="span-18 last">
        <div class=" topic span-8">
          <h3>The Company</h3>
          <p>
            Radfords of Somerford produces homemade foods often drawing on Mediterranean influences we have a large range of products e.g. jams, pickles, preserves and dips.
          </p>
        </div>
        <div class="topic span-8 last">
          <h3>The Name</h3>
          <p>Radford is a family name which has passed on recipes through the generations.</p>
        </div>
        <div class="topic span-8">
          <h3>Made in Cheshire</h3>
          <img class="decorate-post" src="images/made_in_cheshire.png" alt="Made in Cheshire"/>
          <p>
            A member of 'Made in Cheshire', all products are homemade and the majority of ingredients are sourced locally wherever possible.      
          </p>
        </div>
        <div class="topic span-8 last">
          <h3>Events / News</h3>
          <p>
            We will be running a stall at the following events:
          </p>
          <ul class="events">
            <li>No events currently planned</li>
          </ul>
        </div>
      </div>
      <div  id="footer" class="span-18 last">
        <span class="contact">Email: <a href="mailto:denise@radfordsofsomerford.co.uk">denise@radfordsofsomerford.co.uk</a></span>Site design: <a href="mailto:freon27@gmail.com">Freon Media</a>
      </div>
    </div>
  </div>
</body>
</html>
