<%= content_for(:nav_class, "hero-nav") %>

<%= render("layouts/header") %>

<section class="home-section">
  <article class="home-blurb">
    <h2>The Company</h2>

    <p>Radfords of Somerford produces homemade foods. We do not
    use any artificial colours, preservatives, or additives, which enables our
    customers to experience the true taste of our products.</p>

    <h2>The Name</h2>

    <p>Radford is a family name which has passed on recipes
    through the generations.</p>
  </article>
</section>

<%= render "layouts/footer" %>
