<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Outlets | Radfords of Somerford</title>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />	
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
  <link rel="stylesheet" type="text/css" href="css/radfords.css" />
</head>

<body>
  <div class="container ">
    <div id="content-main" class="span-18 prepend-3 last">
      <div id="header" class=" span-18 last">
        <span id="image-logo" ></span>
        <h1 id="title">Radfords of Somerford</h1>
      </div>
      <div id="navbar-holder" class="span-18 last">
        <ul id="navbar">
            <li class=""><a href="index.html">Home</a></li>
            <li class=""><a href="products.html"> Products</a></li>
            <li class="active"><a href="outlets.html">Where to buy</a></li>
            <li class=""><a href="contact.html">Contact us</a></li>
        </ul>
      </div>
      <div id="roll" class="span-18 last">
        <div class="span-8 topic">
          <h3>Farmers' Markets</h3>
          <p>
            We regularly attend local famers' markets / food events.
            <ul class="market-list">
              <li>Treacle market, Macclesfield</li>
              <li>Barclays Bank Farmers' Market (staff only), Knutsford</li>
              <li>Congleton Food Fair</li>
            </ul>
            Please see the <a href="index.html">events / news section</a> for the latest information on upcoming events or follow us on <a href="http://twitter.com/r_of_somerford">Twitter</a> or <a href="http://www.facebook.com/pages/Radfords-of-Somerford/170415869654554?ref=ts&v=wall">Facebook </a>.
          </p>
        </div>
          <div class="span-8 last topic">
          <h3>Buy Direct</h3>
          <p>
            You are welcome to order products directly from us.  Please email for further details.
          </p>
        </div>
        <div class="span-17 last topic">
          <h3>Delicatessens / Farm Shops</h3>
          <ul class="outlet-list">
            <li>
              <h4>Bread & Basil</h4>
              <p>                
                5 Bridge Street<br />
                Congleton<br />
                Cheshire<br />
                CW12 1AY<br />
                <a href="http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=bread+and+basil&sll=53.252069,-2.357941&sspn=0.424782,1.234589&ie=UTF8&hq=bread+and+basil&hnear=&z=9&iwloc=AQ">View map</a>
              </p>
              <p class="telephone">
                01260 270511
              </p>
            </li>
            <li>
              <h4>Livesey's Delicatessen</h4>
              <p>
                Livesey's Delicatessen<br />
                15 High Street<br />
                Bollington<br />
                Cheshire<br />
                SK10 5PN
              </p>
              <p>
                <a href="http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+High+St+Bollington,+Macclesfield+SK10+5PH&sll=53.443899,-2.359314&sspn=0.804864,2.469177&ie=UTF8&hq=&hnear=15+High+St,+Bollington,+Macclesfield+SK10+5PH,+United+Kingdom&ll=53.297889,-2.096329&spn=0.00663,0.01929&z=16&iwloc=A">View map</a>
              </p>
              <p class="telephone">
                01625 575491
              </p>
            </li>
            <li class="last">
              <h4>M G Williams & Sons Ltd</h4>
              <p >
                2 The Square<br />
                Holmes Chapel<br />
                Crewe<br />
                CW4 7AA
              </p>
              <p >
                <a href="http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=M+G+Williams+%26+Sons+Ltd,+Crewe&sll=53.800651,-4.064941&sspn=13.440126,39.506836&ie=UTF8&hq=mg+williams+%26+sons+ltd&hnear=Crewe,+United+Kingdom&ll=53.252069,-2.357941&spn=0.424782,1.234589&z=10&iwloc=A">View map</a>
              </p>
              <p class="telephone">
                0147 753 3237
              </p>
            </li>
          </ul>
          <ul class="outlet-list">
            <li>
              <h4>Delissimo</h4>
              <p >
                9 Crewe Road<br />
                Alsager<br />
                Cheshire<br />
                ST7 2EW 
              </p>
              <p>
                <a href="http://www.delissimo.biz/">Website</a>
              </p>
              <p>
                <a href="http://maps.google.co.uk/maps?hl=en&georestrict=input_srcid:ed0ee5466d007236&ie=UTF8&view=map&cid=13787839109298959433&q=Delissimo+-+incorporating+Sunflower...at+Home&ved=0CEQQpQY&ei=nnBFTKi9JMnJjAeHvPTsAg&hq=Delissimo+-+incorporating+Sunflower...at+Home&hnear=&t=h&source=embed&ll=53.096066,-2.305608&spn=0.007267,0.01929&z=16&iwloc=A">View map</a>
              </p>
              <p class="telephone">
                01270 884200
              </p>
            </li>
            <li>
              <h4>Cheshire Smokehouse</h4>
              <p >
                Vost Farm,<br />
                Morley Green,<br />
                Wilmslow,<br />
                Cheshire,<br />
                SK9 5NU
              </p>
              <p>
                <a href="http://www.cheshiresmokehouse.co.uk/">Website</a>
              </p>
              <p>
                <a href="http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=Cheshire+Smokehouse+Ltd,+Wilmslow&sll=53.800651,-4.064941&sspn=13.440126,39.506836&ie=UTF8&hq=Cheshire+Smokehouse+Ltd,&hnear=Wilmslow,+United+Kingdom&z=13">View map</a>
              </p>
              <p class="telephone">
                01625 548499
              </p>
            </li>
            <li class="last"></li>
          </ul>
        </div>
      </div>
      <div  id="footer" class="span-18 last">
        <span class="contact">Email: <a href="mailto:denise@radfordsofsomerford.co.uk">denise@radfordsofsomerford.co.uk</a></span>Site design: <a href="mailto:freon27@gmail.com">Freon Media</a>
      </div>
    </div>
  </div>
</body>
</html>
