<div class="section">
  <div class="article">
    <h2>
      Farmers' Markets
    </h2>

    <p>
      We regularly attend local famers' markets / food events.
    </p>

    <ul>
      <li>
        Treacle market, Macclesfield
      </li>

      <li>
        Barclays Bank Farmers' Market (staff only), Knutsford
      </li>

      <li>
        Congleton Food Fair
      </li>
    </ul>

    <p>
      Please see the <a href="/">events/news section</a> for the latest
      information on upcoming events or follow us on
      <a href="http://twitter.com/r_of_somerford">Twitter</a> or
      <a href="http://www.facebook.com/pages/Radfords-of-Somerford/170415869654554?ref=ts&amp;v=wall">Facebook</a>.
    </p>
  </div>

  <div class="article last">
    <h2>
      Buy Direct
    </h2>

    <p>
      You are welcome to order products directly from us.  Please email for
      further details.
    </p>
  </div>
</div>

<div class="section suppliers">
  <h2>Delicatessens / Farm Shops</h2>

  <% unless @suppliers.blank? %>
    <ul>
    <%= render(@suppliers) %>
    </ul>
  <% end %>

  <% if signed_in? %>
    <p>
      <a href="<%= new_supplier_path %>">New supplier</a>
    </p>
  <% end %>
</div>
