<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Products | Radfords of Somerford</title>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />	
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
  <link rel="stylesheet" type="text/css" href="css/radfords.css" />
</head>

<body>
  <div class="container ">
    <div id="content-main" class="span-18 prepend-3 last">
      <div id="header" class=" span-18 last">
        <span id="image-logo" ></span>
        <h1 id="title">Radfords of Somerford</h1>
      </div>
      <div id="navbar-holder" class="span-18 last">
        <ul id="navbar">
            <li class=""><a href="index.html">Home</a></li>
            <li class="active"><a href="products.html"> Products</a></li>
            <li class=""><a href="outlets.html">Where to buy</a></li>
            <li class=""><a href="contact.html">Contact us</a></li>
        </ul>
      </div>
      <div id="roll" class="span-18 last">
        <div class="span-8 topic">
          <h3>Jams</h3>
          <img class="decorate-post-right bordered" src="images/jam.jpg" />
          <ul class="product-list">
            <li>Damson</li>
            <li>Banana</li>
            <li>Plum</li>
            <li>Rhubarb &amp; Ginger</li>
            <li>Raspberry</li>
            <li>Cranberry &amp; Orange</li>
          </ul>
        </div>
        <div class="span-8 last topic">
          <h3>Pickles</h3>
          <img class="decorate-post-right bordered" src="images/pickles.png" />
          <ul class="product-list">
            <li>Ju Pickle</li>
            <li>Red Cabbage</li>
            <li>Pickled Shallots</li>
          </ul>
        </div>
        <div class="span-8 topic "> 
          <h3>Other</h3>
          <img class="decorate-post-right bordered" src="images/lemon_curd.jpg" />
          <ul class="product-list">
            <li>Lemon Curd</li>
            <li>Sweet Chilli (hot/mild)</li>
            <li>Roda Relish</li>
            <li>Tzatziki</li>
            <li>Hummus</li>
            <li>Mincemeat</li>
          </ul>
        </div>
        <div class="span-8 last topic">
          <h3>Special Items</h3>
          <img class="decorate-post-right bordered" src="images/gift_box.png" />
          <p>
            Gift boxes and mixed hampers are also available.  Please contact us for further details.
          </p>

        </div>
      </div>
      <div  id="footer" class="span-18 last">
        <span class="contact">Email: <a href="mailto:denise@radfordsofsomerford.co.uk">denise@radfordsofsomerford.co.uk</a></span>Site design: <a href="mailto:freon27@gmail.com">Freon Media</a>
      </div>
    </div>
  </div>
</body>
</html>
