<div class="section">
  <div class="article product">
    <h2>
      Jams
    </h2>

    <%= image_tag('jam.jpg', alt: 'Jam Jar') %>

    <ul>
      <li>
        Damson
      </li>

      <li>
        Banana
      </li>

      <li>
        Plum
      </li>

      <li>
        Rhubarb &amp; Ginger
      </li>

      <li>
        Raspberry
      </li>

      <li>
        Cranberry &amp; Orange
      </li>
    </ul>
  </div>

  <div class="article product last">
    <h2>
      Pickles
    </h2>

    <%= image_tag('pickles.png', alt: 'Pickle Jar') %>

    <ul>
      <li>
        Ju Pickle
      </li>

      <li>
        Red Cabbage
      </li>

      <li>
        Pickled Shallots
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="article product">
    <h2>Other</h2>

    <%= image_tag('lemon_curd.jpg', alt: 'Lemon Curd') %>

    <ul>
      <li>
        Lemon Curd
      </li>

      <li>
        Sweet Chilli (hot/mild)
      </li>

      <li>
        Roda Relish
      </li>

      <li>
        Tzatziki
      </li>

      <li>
        Hummus
      </li>

      <li>
        Mincemeat
      </li>
    </ul>
  </div>

  <div class="article product last">
    <h2>Special Items</h2>

    <%= image_tag('gift_box.png', alt: 'Gift Box') %>

    <p>
      Gift boxes and mixed hampers are also available.  Please contact us for
      further details.
    </p>
  </div>
</div>