<div class="span-8 topic">
  <h3>Jams</h3>
  <img class="decorate-post-right bordered" src="images/jam.jpg" />
  <ul class="product-list">
    <li>Damson</li>
    <li>Banana</li>
    <li>Plum</li>
    <li>Rhubarb &amp; Ginger</li>
    <li>Raspberry</li>
    <li>Cranberry &amp; Orange</li>
  </ul>
</div>
<div class="span-8 last topic">
  <h3>Pickles</h3>
  <img class="decorate-post-right bordered" src="images/pickles.png" />
  <ul class="product-list">
    <li>Ju Pickle</li>
    <li>Red Cabbage</li>
    <li>Pickled Shallots</li>
  </ul>
</div>
<div class="span-8 topic "> 
  <h3>Other</h3>
  <img class="decorate-post-right bordered" src="images/lemon_curd.jpg" />
  <ul class="product-list">
    <li>Lemon Curd</li>
    <li>Sweet Chilli (hot/mild)</li>
    <li>Roda Relish</li>
    <li>Tzatziki</li>
    <li>Hummus</li>
    <li>Mincemeat</li>
  </ul>
</div>
<div class="span-8 last topic">
  <h3>Special Items</h3>
  <img class="decorate-post-right bordered" src="images/gift_box.png" />
  <p>
    Gift boxes and mixed hampers are also available.  Please contact us for further details.
  </p>

</div>