---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_RRndyeSzHDEZdoNMMgy9VoDL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1396343167,
          "id": "cus_3lvhMbb8uPrQLU",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_3lvhMbb8uPrQLU/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_3lvhMbb8uPrQLU/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "subscription": null
        }
  recorded_at: Wed, 31 Jul 2013 23:00:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_3lvhMbb8uPrQLU&amount=599&description=Order%20for%20Alphonso%20Quigley&currency=gbp
    headers:
      Authorization:
      - Bearer sk_test_RRndyeSzHDEZdoNMMgy9VoDL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Cannot charge a customer that has no active card",
            "type": "card_error",
            "param": "card",
            "code": "missing"
          }
        }
  recorded_at: Wed, 31 Jul 2013 23:00:03 GMT
recorded_with: VCR 2.8.0
