.orders {
  .form-actions {
    margin-left: 0;
    width: 910px;
  }

  .quantity {
    text-align: right;
  }

  .table {
    .table {
      td {
        border-color: transparent;

        &:first-child {
          width: 1px;
          white-space: nowrap;
        }
      }
    }
  }
}

.payment-form {
  width: 30%;

  .alert {
    width: 950px;
  }

  fieldset {
    background: none;
  }
}
