.pagination {
  border-top: 1px solid;
  display: block;
  float: left;
  font: bold 16px/16px Georgia;
  height: 60px;
  margin: 40px 0 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;

  a:link, a:visited {
    color: #5a006d;
  }

  span {
    margin-right: 10px;
  }
}
