.product-thumbnails {
  margin: 0;

  input[type="submit"] {
    background: #5A006D;
    border: none;
    border-radius: 4px;
    color: white;
    display: block;
    font-family: Georgia, sans-serif;
    padding: 10px;
    width: 100%;

    &:hover, &:active {
      background: #939;
    }
  }

  li {
    display: block;
    float: left;
    list-style-type: none;
    margin-left: 3.092784%;
    width: 22.680412%;

    &:nth-child(4n+1) {
      clear: left;
      margin-left: 0;
    }
  }

  img {
    height: 10.221331em;
    width: 100%;
  }

  h3 {
    font: 16px/24px "Open Sans", sans-serif;
    text-align: center;
  }

  a:link, a:visited {
    color: inherit;
  }

  a:hover, a:active {
    color: inherit;
  }
}
