.container {
    /*background: url(http://blueprintcss.org/blueprint/src/grid.png);*/
    color: #554D40;
    font-size: 13px;
    width: 950px;
}

/* HEADER */

.header {
    margin-bottom: 18px;
    position: relative;
}

.hgroup {
    background: #5A006D url(/assets/purple_logo.png) no-repeat right bottom;
    margin-bottom: 18px;
    vertical-align: bottom;
}

h1 {
    background: url(/assets/jar.png) no-repeat 10px bottom;
    height: 162px;
    width: 145px;
    text-indent: -9999em;
}

.nav {
    background: #5A006D url(/assets/jar_bottom.png) no-repeat;
    text-align: right;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.nav ul li {
    display: inline;
}

.nav ul li a:link, .nav ul li a:visited {
    background: #5A006D;
    color: #FFF;
    font-family: Gotham;
    font-size: 12px;
    line-height: 36px;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav ul li a:hover, .nav ul li a:active {
    text-decoration: underline;
}

h2 {
    border-bottom: solid 1px #A676B1;
    font-family: Georgia, Times, serif;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 17px;
}

/* BODY */

.section:after, .section:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.section {
    display: block;
}

.article {
    float: left;
    margin-right: 10px;
    width: 470px;
}

.last {
    margin-right: 0;
}

.made-in-cheshire img {
    float: left;
    margin-bottom: 8px;
    margin-right: 10px;
}

/* PRODUCTS */

.product img {
    border: 1px solid #BBB;
    float: right;
    margin-bottom: 18px;
    margin-left: 10px;
    padding: 8px 9px;
}

.product ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* SUPPLIERS */

div.suppliers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.suppliers li {
    width: 310px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.suppliers .last {
    margin-right: 0;
}

.suppliers h3 {
    color: #5A006D;
    font-family: Georgia, Times, serif;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 0;
}

.suppliers .telephone {
    background: url(/assets/phone_1.png) no-repeat;
    padding-left: 18px;
    background-position: 0 3px;
}

.suppliers img {
    border: 1px solid #bbb;
    float: left;
    margin-bottom: 18px;
    padding: 9px;
    width: 290px;
}

.suppliers p {
  line-height: 18px;
  margin-bottom: 18px;
}

.suppliers .actions ul {
  display: inline-block;
  line-height: 36px;
}

.suppliers .actions li {
  display: inline;
  margin: 0;
}

.suppliers .actions form,
.suppliers .actions form div,
.form-actions form,
.form-actions form div {
  display: inline;
}

.suppliersx .actions form {
  float: right;
}

.suppliersx .actions .btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin: 0;
  margin-top: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
}

.suppliersx .actions .btn-danger,
.suppliersx .actions .btn-danger:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.suppliersx .actions .btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.address {
  width: 220px;
  float: left;
  margin-right: 10px;
}

#map_canvas {
  height: 416px;
  width: 720px;
  float: left;
}

#map_canvas img {
  max-width: none;
}

.products p {
}

.products img {
  height: 214px;
}

.products h3 a {
  color: #551A8B;
}

.products ul {
  font-size: 0;
}

.products .image img {
  border: 1px solid #BBB;
  height: 250px;
  margin-bottom: 18px;
  padding: 9px;
  width: 450px;
}

/* CONTACT */

.denise {
    text-align: right;
}

.denise img {
    border: 1px solid #BBB;
    margin-bottom: 18px;
    padding: 9px;
}

.social ul {
    list-style-type: none;
    margin: 0;
    margin-top: 18px;
    padding: 0;
    width: 212px;
}

.social li {
    background: no-repeat;
    margin: 9px 0;
    padding-left: 24px;
}

.social .email {
    background-image: url(/assets/email_16.png);
}

.social .facebook {
    background-image: url(/assets/facebook_16.png);
}

.social .twitter {
    background-image: url(/assets/twitter_16.png);
}

/* FOOTER */

.footer {
    border-top: 2px solid #5A006D;
    line-height: 36px;
    margin-top: 16px;
}

.footer ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer li {
    display: inline;
    margin-right: 15px;
}

.footer a:link, .footer a:visited {
    color: #554D40;
    text-decoration: none;
    text-transform: capitalize;
}

.footer a:hover, .footer a:active {
    color: #CA00F5;
}

.footer p {
    float: right;
}

/* FLASHES */

.flash {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.flash {
  color: #C09853;
}

.success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.success {
  color: #468847;
}

form ol {
  list-style-type: none;
}
/* EVENTS */

#events {
  margin: 0;
  padding: 0;
}

#events li {
  border-bottom: 1px solid #ccc;
  clear: both;
  list-style-type: none;
  margin-bottom: 17px;
}

#events .event .img {
  float: right;
  position: relative;
}

#events .event span {
  display: block;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
}

#events .event .img img {
  height: 80px;
  width: 80px;
}

#events .event .img span {
  background: url(/assets/overlay.png);
  height: 80px;
  position: absolute;
  top: 0;
  width: 80px;
}

#events .event .title {
  font-family: Georgia, Times, serif;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 8px;
  text-transform: none;
}

#events .event h3 {
  color: #5A006D;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 25px;
}

label {
  font-weight: normal;
}

input[type="text"] {
  color: #555;
  margin: 0;
  margin-bottom: 9px;
}

input[type="text"]:focus,
input:focus {
  border-color: rgba(82, 168, 236, 0.8);
}

textarea {
  resize: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-actions ul li {
  display: inline;
}

.control-group {
  background: transparent;
  padding: 0;
  border: none;
}

.show-product .image,
.show-product .information {
  float: left;
  margin-right: 10px;
  width: 470px;
}

.show-product .information {
  margin-right: 0;
}

.show-product .form-actions,
.show-product .footer {
  clear: both;
}

.price {
  line-height: 28px;
}

.price-line {
  margin-bottom: 18px;
}

.price-line form,
.price-line div {
  display: inline;
  float: right;
}

.baskets .image {
  width: 80px;
}

.baskets .item_price, .baskets .total_line td {
  text-align: right;
}

.baskets .total_line .total_cell {
  font-weight: bold;
}

#account_cart {
  background: white;
  color: #551A8B;
  font-size: 18px;
  line-height: 36px;
  padding: 0 9px;
  position: absolute;
  right: 36px;
  top: 0;
}

#basket a {
  border-radius: 5px;
}

/* ORDERS */

.orders h2 {
  border-bottom: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 0;
}

.orders .image {
  width: 80px;
}

.orders .image img {
  height: 44px;
  width: 80px;
}
