<% if flash.any? %>
  <% if flash[:partial] %>
    <%= render(partial: "/shared/flashes/#{flash[:partial]}") %>
  <% else %>
    <div class="flashes">
      <% user_facing_flashes.each do |key, value| -%>
        <div class="flash-<%= key %>"><%= value %></div>
      <% end -%>
    </div>
  <% end %>
<% end %>
