<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>

      <th>Description</th>

      <th>Photo</th>
    </tr>
  </thead>

  <tbody>
    <%= render @products %>
  </tbody>
</table>
