<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Product', new_product_path %>
