<div class="section suppliers">
  <% unless @products.blank? %>
    <ul><%= render partial: 'product', collection: @products -%></ul>
<% end %>

<% if signed_in? %>
  <p><%= link_to 'New Product', new_product_path %></p>
<% end %>
</div>
