<% content_for(:title, @product.title) %>

<section>
  <header>
    <h1><%= @product.title %></h1>
  </header>

  <%= image_tag(@product.photo.url) %>

  <p><%= @product.description %></p>
</section>
