<p><strong>Title:</strong> <%= @product.title %></p>

<p><strong>Description:</strong> <%= @product.description %></p>

<p><%= image_tag(@product.image_url) %></p>

<p><strong>Price:</strong> <%= @product.price %></p>
