<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>Telephone Number:</strong>
  <%= @supplier.telephone_number %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %>