<div class="footer">
  <ul>
    <li><%= link_to 'Sign in', signin_path %></li>
    <li>
      <a href="mailto:denise@radfordsofsomerford.co.uk">Contact us</a>
    </li>
  </ul>

  <p><a href="http://purinkle.co.uk"><%= image_tag 'purinkle.png' %></a></p>
</div>