<div  id="footer" class="span-18 last">
  <span class="contact">Email: <a href="mailto:denise@radfordsofsomerford.co.uk">denise@radfordsofsomerford.co.uk</a></span>Site design: <a href="mailto:freon27@gmail.com">Freon Media</a>
</div>