<div class="footer">
  <ul>
    <li><%= link_to 'Sign in', signin_path %></li>
    <li>
      <a href="mailto:radfords@hotmail.co.uk">Contact us</a>
    </li>
  </ul>

  <p><%= link_to(
    image_tag("purinkle.png"),
    "http://robertwhittaker.com"
  ) %></p>
</div>
