<div class="footer">
  <ul>
    <li>
      <a href="#">Tweet us</a>
    </li>

    <li>
      <a href="#">Like us</a>
    </li>

    <li>
      <a href="#">Contact us</a>
    </li>
  </ul>

  <p>
    A purinkle./Freon Media coalition
  </p>
</div>