<div class="header">
  <div class="hgroup">
    <h1>Radfords of Somerford</h1>
  </div>

  <div class="nav">
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>

      <li><%= link_to 'Shop', shop_path %></li>

      <li>
        <%= link_to "Outlets", outlets_path %>
      </li>

      <li>
        <%= link_to "Contact us", contact_path %>
      </li>
    </ul>
  </div>
</div>
