<%= navbar do %>
  <ul class="nav">
    <%= nav_item('Events', events_path, 'events') %>

    <%= nav_item('Products', products_path, 'products') %>
  </ul>

  <div class="btn-group pull-right">
    <%= link_to('Sign Out', signout_path, class: 'btn btn-small') %>
  </div>
<% end %>